form.form-example
{
    padding-left: 25%;
    padding-right: 25%;
    display:grid
}
div.form-example
{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.form-example
{
    text-align: center;
    display:grid;
}
.whitetext
{
color: rgb(0, 0, 0);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: right;
padding-right: 10px;
font-size: larger;
width:max-content;
}
.block
{
    border-style: ridge;
    border-radius: 15px;
    width: 600px;
    border-color: black;
    background-image: linear-gradient(to left bottom, #c1fcd3, #abf3c8, #93ebbd, #79e2b4, #5ad9ac, #49dac0, #3fdbd2, #42dbe1, #86e2fc, #bfe8ff, #e8f1ff, #ffffff);
}
.headers1
{
    text-align: center;
    font-style:inherit;
    color: rgb(7, 7, 7);
    text-shadow : 1px 1px 1px #f8f8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 25px;
}
.main_page
{
height: 1000px;
}
form.form-example
{
    padding-left: 25%;
    padding-right: 25%;
    display:grid;
    justify-content: center;
}
div.form-example
{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.Navlink{
    border-radius: 4px;
    background-color: #3b2f91;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 2px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .Navlink span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
  }
  .Navlink span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .Navlink:hover span {
    padding-right: 15px;
  }
  .Navlink:hover span:after {
    opacity: 1;
    right: 0;
  }
  #hostel,#day,#meal{
    padding-left: 10px;
    text-align: center;
    font-size: medium;
    }
  .Navlink-head
  {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .head{
    padding-top: 15px;
    justify-content:center;
    display: flex;
  }