.gallery
{
color:black;
text-align: center;
text-shadow : 1px 1px 1px #C1FCD3;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-top: 45px;
padding-bottom: 45px;
position: relative;
}
.gallery h1
{
    text-decoration: solid;
    color:#0CCDA3;
}
.images-selector
{
    height: 350px;
}
.images-selector input
{
    position: absolute;
    z-index: 50;
}
.images-selector input:checked + .img-card
{
    filter: none;
    transform: scaleY(1);
}
.img1
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/5/01.webp);
}
.img2 
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/1/002.webp);
}
.img3
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/33/05.webp);
}
.img4
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/1/012.webp);
}
.img5
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/31/01.webp);
}
.img6
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/1/009.webp);
}
.img7
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/1/007.webp);
}
.img8
{
    background-image: url(https://www.bitsathy.ac.in/assets/images/facilities/campus/30/01.webp);
}
.img
{
    display: flex;
    justify-content: center;
    left : 1;
}
.row1
{
    padding-left: 10px;
    display: flex;
}
.row2
{
    padding-left: 10px;
    display: flex;
}
.gallery-main
{
  height:100px;
}
.img-card::before
{
    transform: scaleY(-1);
}
.img-card:hover
{
    filter: grayscale(0) opacity(1);
}
.img-card
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 200ms ease-in;
    filter: grayscale(1) opacity(.8);
}

#galleryPage
{
    padding-bottom: 120px;
}

.footer
{
    color:aliceblue;
    text-align: center;
}

.footer span
{
    background: linear-gradient(to right, #52e9c2 0%, #86dedd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}