.App {
  text-align: center;
}
.fullPage
{
  background-color: rgb(0, 0, 0);
}
.parent-container 
{
  position: relative;
}
.comp2 
{
  position:relative;
  display: flex;
  justify-content: center;
}